<!--
AUTHOR      :   Robert James Patterson
DATE:       :   10/02/2018
SYNOPSIS    :   Working thru the 'docs.djangoproject.com' tutorial
-->
<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="POST">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
{% endfor %}
    <input type="submit" value="Vote"/>
</form>